body, input {
  font-size: 0.9rem !important;
}
.none {
  display: none;
}
.pointer {
  cursor: pointer !important;
}
.mdi {
  padding-right: 10px;
}
.rounded {
  border-radius: 10px!important;
}

.auth {
  width: 400px;
  position: absolute;
  left: 50%;
  top: 50px;
  transform: translate(-50%);
  margin-bottom: 50px;
}
.auth small {
  font-size: 0.8rem;
}

.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgb(0,0,0,.5);
  z-index: 2;
}

.password {
  position: absolute;
  right: 0px;
  top: 30px;
  cursor: pointer;
  color: rgb(0,0,0,0.5);
  padding: 4px 12px;
}

.notification {
  position: absolute;
  left: 10px;
  color: #fff;
  width: 20px;
  height: 20px;
  font-size: 9px;
  font-weight: bold;
  padding-left: 4px;
  border: 3px solid #fff;
  border-radius: 50px;
}

.main {
  margin-left: 230px;
  padding: 80px 15px 100px 15px;
}

.navbar {
  position: fixed;
  z-index: 4!important;
  width: 100%;
}
.navbar a {
  text-decoration: none;
}
.dropdown .dropdown-menu {
  top: 50px;
  left: -135px!important;
  box-shadow: 0 1px 4px 1px rgba(0,0,0,.05);
  -webkit-box-shadow: 0 1px 4px 1px rgba(0,0,0,.05);
  -moz-box-shadow: 0 1px 4px 1px rgba(0,0,0,.05);
}
.dropdown-menu-right {
  margin-right: 0.5rem !important;
}
.dropdown-menu .dropdown-item {
  padding: 10px 16px;
  font-size: 0.9rem;
  position: relative;
  padding-right: 16px;
}
.dropdown-menu .dropdown-item i {
  position: absolute;
  top: 18%;
}
.dropdown-menu .dropdown-item span {
  padding-left: 32px;
}
.dropdown-menu .dropdown-item:hover {
  background: rgb(0,123,255,.05);
}
.dropdown-menu .dropdown-item:focus {
  color: black;
}

.sidebar {
  height: 100%;
  width: 230px;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  overflow-x: hidden;
  margin-top: 55px;
  transition: 0.2s;
  background-color: #fff;
  border-right: 1px solid #eaebef;
}
.sidebar a {
  padding: 12px 16px;
  text-decoration: none;
  color: #707070;
  display: block;
  vertical-align: top!important;
  position: relative;
}
.sidebar a i {
  position: absolute;
  top: 20%;
}
.sidebar a span {
  margin-top: 100px;
  padding-left: 32px;
}
.sidebar a:hover, .sidebar .active {
  color: #000000!important;
  background: rgb(0,123,255,.05);
}
.sidebar-create {
  padding: 16px;
}
.sidebar-create a {
  font-size: 17px;
  padding: 0;
}

.card-menu {
  height: 100%;
  border: none;
  /*padding-bottom: 2rem;*/
  background: rgb(0,123,255,.05);
}
.card-menu .card-body p {
  padding-right: 90px;
}
.card-menu .card-body a {
  position: absolute;
  bottom: 1.2rem;
}

td,th {
  vertical-align: middle!important;
}
tbody tr {
  cursor: pointer;
}
.table thead th {
  border-bottom: none;
  padding-top: 25px;
}
.table-hovered tbody tr:hover td, .table-hovered tbody tr:hover th {
  background: rgb(0,123,255,0.05) !important;
}


/* Large */
@media screen and (max-width: 992px) {
  .sidebar {
    left: -230px;
  }
  .main{
    padding: 0;
    padding-top: 80px;
    margin-left: 0;
  }
}

/* Small */
@media screen and (max-width: 576px) {
  .auth {
    top: 0;
    width: 100%;
    padding: 0 10px;
    margin-bottom: 0;
  }
  .auth .card {
    border: none !important;
  }
}